:root {
  font-family: Helvetica, Arial, sans-serif;
  margin: -8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: #f2f3f3;

  color: #0f0f0f;

  --main-background-color: #ffffff;
  --secondary-background-color: #f2f3f3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
